<%- include("header") -%>
    <div class="container">
      <div class="top">
        <div class="name-hr">
          <div class="name">
            <h1>Biswadip Saha </h1>

          </div>
          <div class="hr__part">
            <span class="hr__line"><hr></span>
          </div>
        </div>
        <h3>Front-End Web Developer</h3>
        <p>Berhampore, West Bengal | +9189670XXXXX | biswadipsaha503@gmail.com</p>
      </div>
      <div class="summary">
        <h3>Career Summery:</h3>
        <hr>
        <p class="shift">To seek and maintain full-time position that offers professional challenges utilizing
          interpersonal skills, excellent time management and problem-solving skills.
        </p>
      </div>

      <div class="work__experience">
        <h3>Work Experience:</h3>
        <hr>
        <div class="shift">
          <p class="sub__topic"><strong>Freelance</strong></p>
          <p>Front-End Web Developer | November, 2021 - Present</p>
          <ul class="shift-lvl-2">
            <li>Coded using HTML, CSS and JavaScript to develop features for both mobile and desktop
              platforms.</li>
              <li>Performed user experience quality assurance testing to identify and remedy shortcomings.</li>
            </ul>
            <br>
            <p class="sub__topic"><strong>Business Web Solutions</strong></p>
            <p>Front-End Web Developer Intern | June , 2022 - August, 2022
            </p>
            <ul class="shift-lvl-2">
              <li>Completed paperwork, recognizing discrepancies and promptly addressing for resolution</li>
              <li>Participated in team-building activities to enhance working relationships</li>
              <li>Identified issues, analyzed information and provided solutions to problems</li>
              <li>Learned new skills and applied to daily tasks to improve efficiency and productivity.</li>
            </ul>
          </div>
        </div>


        <div class="skills">
          <h3>Skills:</h3>
          <hr>
          <div class="shift skill__list">
            <li>Python</li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>CSS</li>
            <li>Git</li>
            <li>Figma</li>
            <li>jQuery</li>
            <li>Node.js</li>
            <li>Bash</li>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>Bootstrap 4.2</li>
            <li>GitHub</li>
            <li>NPM</li>
            <li>Express.js</li>
            <li>APIs</li>
          </div>
        </div>

        <div class="education">
          <h3><strong>EDUCATION:</strong></h3>
          <hr>
          <ul class="shift shift-lvl-2 edu-list">
            <li>
              <p><span class="icon"></span><strong>2018- 2022 | Narula Institute of Technology
              </strong></p>
              <p>Bachelor of Technology - Information Technology</p>
            </li>
            <li>
              <p><span class="icon"></span><strong>2017- 2018 | Probharani Public School
              </strong></p>
              <p>Senior High School- Computer Science</p>
            </li>
            <li>
              <p><span class="icon"></span><strong>2006- 2016 | Kendriya Vidyalaya Malda</strong></p>
              <p>Junior High School - 10th - PCM</p>
            </li>
          </ul>
        </div>
    </div>
    <div class="btn"></div>
 <%- include("footer") -%>
